# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/
.pytest_cache/

# Node / React
node_modules/
.env.local
.env.production

# Build
dist/
build/
.vite/
htmlcov/
.coverage
coverage/
coverage.xml
*.lcov

# Загальне
.DS_Store
*.log
.vscode/
.idea/

# MySQL
*.sql.bak