# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.egg-info/

# Node / React
node_modules/
.env.local
.env.production

# Build
dist/
build/
.vite/

# Загальне
.DS_Store
*.log
.vscode/
.idea/

# MySQL
*.sql.bak